* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #00000006;
  width: 400px;
  margin: 20px auto;
  border-radius: 20px;
  padding: 5px 10px;
  color: #4b4b4b;
}

#searchInput{
    width: 80%;
}