* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: black;
  padding-top: 100px;
  font-size: clamp(2rem, 7vw, 3rem);
}

body {
  background-color: white;
}

/*PAINEL*/
.ContainerPainel {
  border: none;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    315deg,
    rgba(255, 222, 173) 0%,
    rgba(244, 164, 96) 100%
  );
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  color: black;
}

.ContainerListaPessoas {
  display: flex;
  margin: 0 auto;
  width: clamp(300px, 70%, 500px);
  flex-direction: column;

}
#titulo {
  text-align: center;
  padding-bottom: 60px;
}

.ContainerRedeSociais {
  display: flex;
  gap: 15px;
}
.ImagemRedeSocial {
  width: 20px;
}

.ContainerCadastroPessoa .material-symbols-outlined {
  font-size: clamp(1.5rem, 3vw, 3rem);
  cursor: pointer;
}

.ContainerBarraDeInput {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 50%;
}
input {
  height: 25px;
  width: 80%;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

/*JANELA DO FORMULÁRIO DO CLIENTE*/
.Janela_cliente {
  background-color: #f4a460;
  max-width: 250px;
  width: 70%;
  opacity: 1;
  position: fixed;
  top: 5%;
  right: 3%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}
.FechaJanela {
  opacity: 0;
}

.Janela_cliente form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 5px;
}
.Janela_cliente label {
  padding-top: 10px;
}
.Janela_cliente input {
  width: 70%;
}
.Janela_cliente textarea {
  width: 95%;
  height: 150px;
  resize: none;
}

.ContainerBotoes {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

#btn-salvar,
#btn-cancelar {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 68%;
}

#btn-salvar:hover,
#btn-cancelar:hover {
  background-color: white;
  color: black;
}

/* LIST OF PEOPLE*/

li {
  display: flex;
  width: 100%;
  border: 1px solid red;
  flex-direction: column;
  word-break: break-word;
  margin-bottom: 20px;
  background-color: #cd853f;
  border-radius: 10px;
  padding: 10px;
  gap: 15px;
  color: #f5deb3;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.Lapis_X_Salve {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.Edit_Sucess {
  cursor: pointer;
}
