* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: #8b4513;
 
}

body {
  background-color: bisque;
}

/*PAINEL*/
.ContainerPainel {
  border: none;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.ContainerListaPessoas {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 0 auto;
}
#titulo {
  text-align: center;
  padding-bottom: 60px;
}

.ImagemRedeSocial {
  width: 30px;
}

.ContainerCadastroPessoa .material-symbols-outlined {
  font-size: clamp(1.5rem, 3vw, 3rem);
  cursor: pointer;
}

.ContainerBarraDeInput {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 50%;
}
input {
  height: 25px;
  width: 80%;
  background-color: #fff8dc;
  border: none;
  border-radius: 10px;
  padding: 10px;
}


/*JANELA DO FORMULÁRIO DO CLIENTE*/
.Janela_cliente {
  background-color: #F08080;
  width: 30%;
  opacity: 1;
  position: absolute;
  left: 67%;
  bottom: 28%;
  border-radius: 10px;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}
.FechaJanela {
  opacity: 0;
}

.Janela_cliente form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 5px;
}
.Janela_cliente label {
  padding-top: 10px;
}
.Janela_cliente input {
  width: 70%;
}
.Janela_cliente textarea {
  width: 95%;
  height: 150px;
  resize: none;
}

.ContainerBotoes {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

#btn-salvar,
#btn-cancelar {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 68%;
}

#btn-salvar:hover,
#btn-cancelar:hover {
  background-color: white;
  color: black;
}

/* LIST OF PEOPLE*/

li {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  margin-bottom: 20px;
  background-color: #cd853f;
  border-radius: 10px;
  padding: 10px;
  gap: 25px;
  color: #f5deb3;
}

.Lapis_X_Salve {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.remove,
.btn_edit {
}

.Edit_Sucess {
  cursor: pointer;
}

.FormLi {
}
