* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:;
}

.calculadora {
  background-color: black;
  margin-top: 20px;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  display: flexbox;
}

#display {
  text-align: right;
  width: 100%;
  margin-bottom: 20px;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
}

.box-button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px; /* Espaçamento entre os botões */
}

button {
  background-color: #ffa500;
  border: none;
  border-radius: 10px;
  height: 60px;
  color: white;
  font-size: 20px;
}

button:hover {
  background-color: beige;
  color: black;
  transition: 0.1s;
}

.btn-result {
  grid-row: 7/5;
  height: 100%;
  grid-column: 4;
  background-color: gold;
  color: black;
}

.btn-zero {
  background-color: white;
  color: black;
  grid-column: 1/3;
}
.btn-toggle {
  position: relative;
  grid-column: 4;
  height: 1em;
 background-color: white;
}
.btn-toggle-on {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffa500;
  bottom: 0;
}

.btn-toggle.Dark .btn-toggle-on {
  left: 40px;
  background-color: black;
}